<header class="calendar-header">
    <div class="header-head clearfix">
        <div class="logo column full">viaFamily</div>
    </div>
    <ul class="top-menu">
        <li class="event-filters inverted" data-bind="click: $root.showPopup"><i id="add-slide" class="icon-plus-circled"></i></li>
    </ul>
</header>