
.icon-spin6:before { content: '\e810'; } /* '' */
.icon-torso:before { content: '\e80b'; } /* '' */
.icon-ok-circled:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-plus-circled:before { content: '\e814'; } /* '' */
.icon-tags:before { content: '\e80f'; } /* '' */
.icon-bell:before { content: '\e811'; } /* '' */
.icon-location:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-archive:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook-rect:before { content: '\e801'; } /* '' */
.icon-vkontakte-rect:before { content: '\e802'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-group:before { content: '\e80a'; } /* '' */
.icon-login:before { content: '\e808'; } /* '' */